<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search: <%= query %></title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@700&display=swap" rel="stylesheet">
  <style>
    body {
      font-family: 'Roboto', sans-serif;
      margin: 0; /* Remove margin to eliminate gap at the top */
      background-color: #121212;
      color: #ffffff;
    }

    .header {
      width: 100%; /* Span the entire width of the page */
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px; /* Thinner header */
      background-color: #00bcd4; /* Cyan blue background */
      border-bottom: 1px solid #333;
      margin-bottom: 20px;
    }

    .header h1 {
      margin: 0;
      font-size: 24px; /* Smaller font size for thinner header */
      font-weight: 700;
      color: #ffffff;
      font-family: 'Montserrat', sans-serif; /* Stylish font */
    }

    .header a {
      color: #ffffff;
      text-decoration: none;
      font-size: 16px;
      font-weight: 700;
    }

    .movie-recommendations {
      margin-top: 40px;
    }

    .recommendations-grid {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 20px;
    }

    .recommendation-item {
      text-align: center;
    }

    .recommendation-item img {
      width: 45%;
      border-radius: 10px;
    }

    .recommendation-item p {
      margin-top: 10px;
      font-size: 14px;
      color: #ffffff;
    }

    body {
      background-color: #121212;
      color: #ffffff;
    }
    .search-bar {
      width: 50%;
      padding: 10px;
      border-radius: 25px;
      border: none;
      outline: none;
      background-color: #333333;
      color: #ffffff;
    }
    .search-bar::placeholder {
      color: #aaaaaa;
    }
  </style>
</head>
<body>
  <div class="header">
    <a href="/"><h1>Movie Recommendations</h1></a>
  </div>
  
  <div class="search-container" style="text-align: center; margin-top: 20px;">
    <form action="/search" method="GET">
      <input type="text" name="query" value=<%= query %> placeholder="Search for a movie name!" class="search-bar" />
    </form>
  </div>

<div class="movie-recommendations">
  <h2 style="padding: auto;">Results</h2>
  <div class="recommendations-grid">
    <% search_results.forEach((result) => { %>
      <div class="recommendation-item">
        <a href="/movies/<%= result.id %>">
          <img src="https://image.tmdb.org/t/p/original/<%= result.poster_path %>" alt="<%= result.title %>">
          <p><%= result.title %></p>
        </a>
      </div>
    <% }); %>
  </div>
</div>
  
</body>
</html>